{% extends 'meeting/base.html' %}

{% block content %}
    <div class="container">
        <div class="faq meeting__board">
            <h2 class="faq__title line_spacing">About Language Loop</h2>
            <p class="answer line_spacing line-height">
                Language Loop is a network that arranges conversation meetings, also known as "speaking clubs", where people
                can practice different languages. The meetings are informal and free, and anyone interested in languages is
                welcome to attend. The participants help each other to practice their language skills, and there are no
                formal teachers or lessons. Language Loop has been successful in helping people improve their language
                proficiency and promoting intercultural communication.
            </p>
        </div>
    </div>
{% endblock %}
