{% extends 'meeting/base.html' %}

{% block content %}
    <div class="faq meeting__board">
    	<div class="container">
    		<h2 class="faq__title line_spacing">Frequently Asked Questions</h2>

            <h3 class="topic line_spacing">General Questions</h3>

            <p class="question line_spacing">Q: What is the site about?</p>
    		<p class="answer line_spacing">A: Our site hosts language clubs where people can gather and practice speaking various languages with native speakers and language enthusiasts.</p>
            <p class="question line_spacing">Q: Is there a membership fee?</p>
    		<p class="answer line_spacing">A: No, there is no membership fee to join our site or to join a language club. However, some clubs may require members to contribute in other ways, such as bringing snacks or materials for language practice.</p>

            <h3 class="topic line_spacing">Language Club Questions</h3>

            <p class="question line_spacing">Q: What happens at a language club meeting?</p>
    		<p class="answer line_spacing">A: At a language club meeting, members gather to practice speaking the language of the club with other members. The club organizer may provide conversation prompts or activities to facilitate language practice.</p>
            <p class="question line_spacing">Q: Do I need to be a fluent speaker to join a language club?</p>
    		<p class="answer line_spacing">A: No, language clubs are open to speakers of all levels. The goal of the club is to practice speaking the language, so even beginners are welcome to join and practice with others.</p>
            <p class="question line_spacing">Q: How often do clubs meet?</p>
    		<p class="answer line_spacing">A: The meeting frequency varies from club to club, but most clubs meet once a week or every other week. You can check the club details for the specific meeting schedule.</p>
            <p class="question line_spacing">Q: Can I join multiple language clubs?</p>
    		<p class="answer line_spacing">A: Yes, you can join multiple language clubs as long as you are able to attend the meetings and participate actively in each club.</p>
            <p class="question line_spacing">Q: Can I suggest a new language club?</p>
    		<p class="answer line_spacing">A: Yes, you can suggest a new language club by contacting us and providing details about the language and proposed meeting schedule. We will review your suggestion and create a new club if there is enough interest from other members.</p>

    	</div>
    </div>
{% endblock %}
